.gifsContainer {
  min-height: 100vh;
}

.listOfGifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  min-height: 100vh;
}

.listOfGifs-item img {
  display: inline-block;
  width: 100%;
}
